@import 'tailwindcss';

@config "../../tailwind.config.js";

@font-face {
  font-family: 'spacex';
  src: url('/fonts/spacex.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
